.imagen{
    width: 100%;
    height: 700px;
    filter: blur(4px);
    overflow: hidden;
}

.imagen2{
    width: 100%;
    height: 700px;
    filter: blur(4px);
}

.centro{
    color: white;
    font-size: 100px;
    position: absolute;
    margin-top: 200px;
    margin-left: 70px;
    z-index: 1;
    text-shadow: 10px 10px 10px black;
}

.centro2{
    color: white;
    font-size: 80px;
    position: absolute;
    margin-top: 20px;
    margin-left: 440px;
    z-index: 1;
    text-shadow: 10px 10px 10px black;
}

.texto1{
    color: white;
    font-size: 35px;
    position: absolute;
    margin-left: 660px;
    margin-top: 190px;
    text-shadow: 5px 5px 5px black;
}

.fondo{
    background-color: white;
    display: flex;
}

.chile{
    position: absolute;
    width: 400px;
    margin-left: 1076px;
    margin-top: 30px;
    transform: rotate(-10deg);
}

.contenedor{
    background-color: #119744;
    font-size: 20px;
    width: 1200px;
    height: 180px;
    color: white;
    text-align: left;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 10px;
}

.encabezado{
    text-align: left;
    margin-left: 50px;
}

.texto2{
    text-align: left;
    margin-left: 100px;
}

.fresas{
    position: absolute;
    width: 270px;
    margin-left: 220px;
    margin-top: 120px;
}

.contenedor2{
    background-color: #119744;
    font-size: 20px;
    width: 1200px;
    height: 230px;
    color: white;
    text-align: right;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 100px;
    border-radius: 10px;
}

.encabezado2{
    text-align: right;
    margin-right: 50px;
}

.texto3{
    text-align: right;
    margin-right: 100px;
}

.pepino{
    position: absolute;
    width: 350px;
    margin-left: 950px;
    margin-top: 20px;
}

.contenedor3{
    background-color: #119744;
    font-size: 20px;
    width: 1200px;
    height: 300px;
    color: white;
    text-align: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    border-radius: 10px;
}

.encabezado3{
    text-align: left;
    margin-left: 50px;
}

.texto4{
    text-align: left;
    margin-left: 100px;
}

.texto5{
    color: white;
    font-size: 30px;
    position: absolute;
    margin-left: 320px;
    margin-top: 200px;
    text-shadow: 5px 5px 5px black;
}

.certificacion{
    height:50px;
    width: auto;
    margin-right: 50px;
}