.header
{
    background-color: #119744;
    padding: 3px;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial;
}

.nav
{
    
    font-size: 14px;
    font-family: Arial;
}

.main
{
    background-color: #e8e9e9;
    font-family: Arial;
}

.footer
{
    background-color: #119744;
    padding: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial;
}