.header
{
    background-color: #149c68;
    padding: 20px;
    color: #efeae4;
    font-size: 14px;
    font-family: Arial;
}

nav 
{
    padding: 10px 0;
    max-height: 60px;
    overflow: hidden;
}

#logo-nav
{
    position: absolute;
    top: 10px; 
    right: 20px;
    height:70px;
}

#parrafo1{
    text-align: center;
    font-family: Georgia, serif;
    color: #ffffff;
    font-size: 20px;
}

#fondo1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#img-principal
{
    height: 400px;
    width: 600px;
}

.main
{
    background-color: #EFEAE4;
    font-family: Arial;
}

.footer
{
    background-color: #373737;
    padding: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    font-family: Arial;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 20px;
    position: absolute;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background-color: #383939;
}

.search-box {
    margin-left: auto;
}

.search-box input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.search-box button {
    padding: 5px 10px;
    background-color: #aee637;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #8db986;
}