
.producto {
    display: inline-block;
    margin: 10px;
    position: relative;
}

.producto img {
    width: 200px;
    height: 200px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Agregamos transición para el efecto de sombra */
}

.producto img:hover {
    border-color: white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5); /* Efecto de sombra al pasar el ratón */
    cursor: pointer; /* Cambiamos el cursor a pointer para indicar que es clickeable */
}

.producto .info-producto {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Alinea el texto al centro */
    z-index: 1000; /* Ajusta el z-index para asegurar que se muestre delante de todos los elementos */
}

.producto.active .info-producto {
    display: block;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.overlay.active {
    display: block;
}

.producto-info {
    position: relative;
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
    display: inline-block;
}

.producto-info img {
    width: 200px;
    height: 200px;
    transition: filter 0.3s ease; /* Agregamos transición para el filtro de color */
}

.producto-info:hover img {
    filter: brightness(120%); /* Aplica el filtro de color al pasar el ratón */
}

.producto-nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    padding: 5px;
    margin: 0;
    text-align: center;
    font-weight: bold;
    transition: bottom 0.3s ease; /* Agregamos transición para el desplazamiento del nombre */
}

.producto-info:hover .producto-nombre {
    bottom: -30px; /* Desplaza el nombre hacia arriba al pasar el ratón */
}

.producto-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos en el contenedor */
    margin: 20px; /* Agrega un margen externo */
}

.producto {
    display: inline-block;
    margin: 10px;
    position: relative;
}

/* Para los hipervínculos que no han sido visitados */
a.referencia-producto:link {
    color: rgb(6, 153, 6); /* Color verde */
    text-decoration: none;  /*Eliminar subrayado */
}

/* Para los hipervínculos que han sido visitados */
a.referencia-producto:visited {
    color: green; /* Mismo color verde */
}

/* Cuando el cursor está sobre el hipervínculo */
a.referencia-producto:hover {
    color: rgb(3, 73, 3); /* Cambia a verde oscuro */
}

/* Cuando el hipervínculo está activo (cuando se presiona) */
a.referencia-producto:active {
    color: darkgreen; /* Mantiene el color verde oscuro */
}

.certificacion{
    height:50px;
    width: auto;
    margin-right: 50px;
}