table {
    border-collapse: collapse;
    margin-top: 20px; /* Distancia del borde superior de la página */
    margin-left: 70px;
    margin-right: auto;
}

td {
    padding: 20px; /* Aumenta la separación del borde de la celda */
}

.producto{
    max-width: 500px;
    height: auto;
    display: block;
    margin-bottom: 20px; /* Añade distancia entre la imagen y la información del producto */
}

.product-info {
    padding-left: 20px; /* Añade espacio entre la imagen y la información */
}

.product-name {
    margin-top: 0; /* Ajusta el margen superior del nombre del producto */
}

.slider-container {
    width: 300px; /* Ancho del slider */
    overflow: hidden; /* Oculta las partes de las diapositivas que se salen del contenedor */
}

.slide img {
    max-width: 100%; /* Ancho máximo del slider */
    max-height: 300px; /* Altura máxima de 300px */
}


/* Estilo para cada diapositiva */
.slide {
    display: none; /* Por defecto, oculta todas las diapositivas */
    width: 300px; /* Ancho del slider */
    animation: slideAnimationout 0.7s ease-in-out; /* Animación para el desplazamiento */
}




/* Animación para el desplazamiento de diapositivas */
@keyframes slideAnimationout {
    from { margin-left: -300px; } /* Empieza desde la izquierda */
    to { margin-left: 0; } /* Se desplaza hacia la derecha */
}
